body{
background-color: #f8f8f8;
}


#content {
}

#wrapper {
  margin: 0 auto;
  max-width: 1100px;
  height: 1000px;
}


.gotomenu {

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: blue;
}



/* ------------- SIDEBAR PROJECTS------------- */
.rotate {

    width: 20px;
    height: 100px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    float: left;
}

#rotateantoine   {

    
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}





/* -------------- MENU-------------- */
#logo{
      height: 60px;
      width: 50px;
      text-indent: -9999px;
      background-image: url("../pictures/logo.png");
      background-repeat: no-repeat;
      float: left !important;
      margin-top: -30px;
      margin-left: -30px;
}




.project{
  width: 160px;
  height:200px;
  background-color: blue;
  float: left;
  margin-right: 5%;
  margin-bottom: 50px;
}
#menu {
padding-top: 50px;
padding-bottom: 200px;
}

#menu li{
float:right;
list-style: none;
padding-left: 20px;
font-family: 'Montserrat', sans-serif;
}

#menu li a{
  text-decoration:none;

  }