body{
background-color: #f8f8f8;
display:inline;
outline: none;
}


#content {
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
  height: 1000px;
  
  /* background-color: red; */
}





/* ------ SIDEBAR CALL TO ACTION------ */
.left_sidebar{
    width: 60px;
    height: 700px;
    float: left;
    padding-right: 10px;
    overflow: hidden;
    /* background-color: green; */
    /* border:#000 1px solid; */

   
  }


#span1 {

height: 100px;
padding-top: 50px;
}

#span2 {
  padding-top: 500px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: blue;
}



.size{
width: 200px;
display: block;
outline: none;

}
.gotomenu {

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: blue;
}


.rotate{ 
  display:block;
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg); 
  transform: rotate(-90deg); 

}  
/* ----------- SIDEBAR PROJECTS----------- */

.notselectedmenu {
  font-size:30px;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  list-style-type: none; 
  margin-left:-40px;
  color:#555;
  margin-left: 20px;
}

.selected {
color: blue;
font-size:30px;
font-family: 'Montserrat', sans-serif;
margin-bottom: 350px;
margin-left: 50px;
}




/* -------------- MENU-------------- */

#top_menu{
   
  padding-top: 30px;
 
}

#logo{
      height: 60px;
      width: 50px;
      text-indent: -9999px;
      background-image: url("../pictures/logo.png");
      background-repeat: no-repeat;
      float: left !important;
      margin-top: -1px;
      margin-left: 35px;
      
}

#menu {
padding-top: 25px;
padding-bottom: 60px;
margin-bottom: 50px;
}
#menu li:first-child{
  padding-right: 6%;
}

#menu li{
float:right;
list-style: none;
padding-left: 20px;
font-family: 'Montserrat', sans-serif;
}

#menu li a{
  text-decoration:none;
  color: blue;
}


/* -------------- About-------------- */


#about{
  position: relative;
  display: block;
  width: 100%;
  height: 20%;
  margin-bottom: 160px;
  margin-left: 30px;
  display: none;

}

.about_titre{
  text-decoration: none !important;
  padding-bottom: 20px;
  margin-left: -10px;
}

.col {
  width: 190px;
  margin-left: 100px;
  float: left;

}
.col_desciption{

  width: 290px;
  float: left;
}

.col_desciption p{
font-size:13px;
line-height: 20px;
font-family: 'Montserrat', sans-serif;
color: blue;
font-style: italic;
font-weight: 100;
}

.col a{
  font-size:16px;
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
  color: blue;
  text-decoration: underline;
}

.col p{
font-size:16px;
line-height: 15px;
font-family: 'Montserrat', sans-serif;
color: blue;
text-decoration: underline;
}


/* -------------- Projects-------------- */

.project{
  max-width: 190px;
  float: left;
  margin-left: 40px;
  margin-bottom: 5%;
  position: relative;
  
}

#projects_container{
overflow:  hidden;
}





